<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Angular 4+ HttpClient Examples 
  </h1>
</div>
<h2>HttpClient Get </h2>
<ul>
  <li>
    <button (click)="get_products()">GET /products</button>
    <button (click)="get_families()">GET /families</button>
    <button (click)="get_locations()">GET /locations</button>
    <button (click)="get_transactions()">GET /transactions</button>
    
    <ul>
      <li *ngFor="let product of productsObservable | async " >
        -- id: {{product.id}}
        -- name: {{product.name}}
        -- cost: {{product.cost}}
        -- quantity: {{product.quantity}}
      </li>
    </ul> 
  </li>
  <li><hr/></li>
  <li>
    <ul>
      <li *ngFor="let family of families" >
        -- id: {{family.id}}
        -- name: {{family.name}}
      </li>
    </ul>     
  </li>
  <li><hr/></li>
  <li>
    <ul>
      <li *ngFor="let location of locations" >
        -- id: {{location.id}}
        -- name: {{location.name}}
      </li>
    </ul>     
  </li>
  <li><hr/></li>
  <li>
    <ul>
      <li *ngFor="let transaction of transactions" >
        -- id: {{transaction.id}}
        -- product: {{transaction.productId}}
        -- cost: {{transaction.cost}}
        -- quantity: {{transaction.quantity}}
      </li>
    </ul> 
    
  </li>    
</ul>

